.pd__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.pd__introduction h4 {
    font-size: 24px;
    line-height: 32px;
}

.pd__introduction h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 2rem;
}

.pd__introduction span {
    font-weight: 800
}

.pd__introduction-heading {
    display: flex;
    flex-direction: column;
}

.pd__introduction-content {
    display: flex;
    flex-direction: row;

}

.pd__introduction-content_text {
    flex: 1;
    display: flex;
    align-items: center;
}

.pd__introduction-content_text p {
    font-size: 18px;

}

.pd__introduction-content_img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pd__introduction-content_img img {
    height: 240px;
    display: block;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.pd__introduction-content_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.pd__introduction-content_btn p {
    margin: 0 !important;
    font-weight: 700
}

.pd__introduction-connect-light a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s, color 0.5s;
}

.pd__introduction-connect-light a:hover {
    background: #0368ff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0368ff, 0 0 25px #0368ff, 0 0 50px #0368ff, 0 0 100px #0368ff;
}

.pd__introduction-connect-light a span {
    position: absolute;
    display: block;
}

.highlight-dark {
    color: var(--color-text-dark-highlight);
    text-shadow: 0px 2px 20px;
}

.highlight-light {
    color: var(--color-text-light-highlight);
    text-shadow: 0px 2px 2px black;
}

.pd__introduction-connect-light a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0368ff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.pd__introduction-connect-light a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0368ff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.pd__introduction-connect-light a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0368ff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.pd__introduction-connect-light a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0368ff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}



.pd__introduction-connect-dark a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s, color 0.5s;
}

.pd__introduction-connect-dark a:hover {
    background: #03ff3a;
    color: #000 !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #03ff3a, 0 0 25px #03ff3a, 0 0 50px #03ff3a, 0 0 100px #03ff3a;
}

.pd__introduction-connect-dark a span {
    position: absolute;
    display: block;
}

.highlight-dark {
    color: var(--color-text-dark-highlight);
    text-shadow: 0px 2px 20px;
}

.highlight-light {
    color: var(--color-text-light-highlight);
    text-shadow: 0px 2px 2px black;
}

.pd__introduction-connect-dark a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03ff3a);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.pd__introduction-connect-dark a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03ff3a);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.pd__introduction-connect-dark a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03ff3a);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.pd__introduction-connect-dark a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03ff3a);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media screen and (max-width:850px) {

    .pd__introduction-heading h1 {
        font-size: 28px;
    }

    .pd__introduction-heading h4 {
        font-size: 28px;
    }

    .pd__introduction-content {
        flex-direction: column;
        text-align: center;
    }

    .pd__introduction-content_text p {
        font-size: 16px;
    }

    .pd__introduction-content_img {
        margin-top: 2rem;
    }

    .pd__introduction-content_btn {
        justify-content: center;
        margin-top: 4rem;
    }

}

@media screen and (max-width:690px) {
    .pd__introduction {
        padding: 2rem;
    }


    .pd__introduction-heading h1 {
        font-size: 22px;
    }

    .pd__introduction-heading h4 {
        font-size: 22px;
    }

    .pd__introduction-content_text p {
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {

    .pd__introduction-heading h1 {
        font-size: 18px;
    }

    .pd__introduction-heading h4 {
        font-size: 18px;
    }

    .pd__introduction-content_text p {
        font-size: 14px;
    }

    .pd__introduction-content_img img {
        height: 100px;
    }

    .pd__introduction-content_btn p {
        font-size: 16px;
    }
}

@media screen and (max-width:395px) {

    .pd__introduction-heading h1 {
        font-size: 14px;
    }

    .pd__introduction-heading h4 {
        font-size: 16px;
    }

    .pd__introduction-content_text p {
        font-size: 14px;
    }

}