@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --font-family: "M PLUS Rounded 1c", sans-serif;

    --color-bg-light: #cac8c1;
    --color-bg-dark: #000319;
    --color-text-light: #000;
    --color-text-dark: #03ddff;
    --color-text-dark-highlight: #03ff3a;
    --color-text-light-highlight: #0368ff;
}